---
import Layout from "@/layouts/Layout.astro";
import Hero from "@/components/Hero.astro";
import About from "@/components/About.astro";
import Services from "@/components/Services.astro";
import Contact from "@/components/Contact.astro";
import Footer from "@/components/Footer.astro";
import Navbar from "@/components/Navbar.astro";
---

<Layout title="Cecilia Urra | Acompañante Emocional">
  <main>
    <Navbar />
    <Hero />
    <About />
    <Services />
    <Contact />
    <Footer />
  </main>
</Layout>

<style>
  main {
    width: 100%;
    color: #2d3748;
    font-size: 16px;
    line-height: 1.6;
  }
</style>
