---
import Button from "./Button.astro";
import Frases2 from "./Frases2.astro";
---

<div id="about">
  <section id="sbsr-1363">
    <div class="cs-container">
      <div class="cs-image-group">
        <picture class="cs-background">
          <!--Mobile Image-->

          <source media="(max-width: 600px)" srcset="/images/SFCU-52.jpg" />

          <img
            loading="lazy"
            decoding="async"
            src="/images/SFCU-52.jpg"
            alt="people"
          />
        </picture>
        <div class="cs-box">
          <span class="cs-desc">"Lo que aceptas, te transforma; lo que niegas, te somete"</span>
          <span class="cs-desc">
            <a href="https://es.wikipedia.org/wiki/Carl_Gustav_Jung" target="_blank">Carl Gustav Jung</a>
          </span>
        </div>
      </div>
      <div class="cs-content">
        <span class="cs-topper [font-family:_Nunito]"
          >¿POR QUÉ CONFIAR EN MÍ?</span
        >
        <h2 class="[font-family:_Libre_Caslon_Display;] text-6xl mb-8 [color:#4a4a43]">
          Te acompaño en tu proceso
        </h2>

        <p class="cs-text [font-family:_Nunito]">
          Mi nombre es Cecilia Urra Elgueta y considero que conocerse y tomar
          acción es la clave para lograr el bienestar. Soy una persona curiosa
          por naturaleza y desde muy joven, sentí un profundo interés por el ser
          humano sus emociones, sus pensamientos y su capacidad para transformar
          su vida. Mi historia personal, mis experiencias y estas ansias de
          conocerme y superarme, me llevaron a emprender un camino de
          autoconocimiento que ha sido fundamental en mi vida y que actualmente
          comparto con aquellos a quienes acompaño en su viaje emocional. El
          querer aprender nuevas cosas, indagar e investigar diferentes ramas ,
          fue lo que me llevó a incursionar en distintas formaciones como la
          fotografía, la pedagogía y la gastronomía.
        </p>

        <!--
        <p class="cs-text [font-family:_Nunito]">
          Soy Cecilia Urra Elgueta, y creo firmemente en el poder del
          autoconocimiento y la acción para alcanzar el bienestar. Desde joven,
          he sentido una profunda curiosidad por el ser humano y su capacidad
          para transformar su vida. Mi historia personal y experiencias me han
          llevado a un camino de autoconocimiento, el cual comparto actualmente
          con quienes acompaño en su viaje emocional. Mi curiosidad innata me ha
          llevado a explorar diversas áreas como la fotografía, la pedagogía y
          la gastronomía, enriqueciendo así mi perspectiva y crecimiento
          personal.
        </p>
        -->
        <ul class="cs-card-group h-40">
          <li class="cs-item">
            <h3 class="cs-h3">
              <img
                class="cs-h3-icon"
                aria-hidden="true"
                loading="lazy"
                decoding="async"
                src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/circle-check.svg"
                alt="icon"
                width="32"
                height="32"
              />
              Estás en el sitio indicado si...
            </h3>
            <Frases2 />
            <p class="cs-item-text"></p>
          </li>
        </ul>

        <ul class="cs-ul [font-family:_Nunito]">
          <li class="cs-li">
            <img
              class="cs-icon"
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="/images/icons/black-check.svg"
              alt="checkmark"
              width="24"
              height="24"
            />
            Atención personalizada
          </li>
          <li class="cs-li">
            <img
              class="cs-icon"
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="/images/icons/black-check.svg"
              alt="checkmark"
              width="24"
              height="24"
            />
            Contacto telefónico
          </li>
          <li class="cs-li">
            <img
              class="cs-icon"
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="/images/icons/black-check.svg"
              alt="checkmark"
              width="24"
              height="24"
            />
            Preparación contínua
          </li>
        </ul>
        <Button caption="SABER MAS" href="#" />
      </div>
    </div>
    <div class="cs-bubbles" aria-hidden="true"></div>
    <!--Tablet and above Image-->
    <source media="(min-width: 601px)" srcset="/images/SFCU-52.jpg" />
  </section>
</div>

<style>
  body {
    margin: 0;
    padding: 0;
  }

  *,
  *:before,
  *:after {
    /* prevents padding from affecting height and width */
    box-sizing: border-box;
  }
  .cs-title {
    font-size: var(--headerFontSize);
    font-weight: 900;
    line-height: 1.2em;
    text-align: inherit;
    max-width: 43.75rem;
    margin: 0 0 1rem 0;
    color: var(--headerColor);
    position: relative;
  }

  .cs-text {
    line-height: 1.5em;
    text-align: inherit;
    font-size: 15px;
    width: 100%;
    max-width: 40.625rem;
    margin: 0;
    margin-top: -10px;
    color: var(--bodyTextColor);
  }

  /* Mobile - 360px */
  @media only screen and (min-width: 0rem) {
    @keyframes floatAnimation {
      0% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(-2rem);
      }
      100% {
        transform: translateY(0);
      }
    }
    @keyframes floatAnimation2 {
      0% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(-3rem);
      }
      100% {
        transform: translateY(0);
      }
    }
    #sbsr-1363 {
      padding: var(--sectionPadding);
      position: relative;
      overflow: hidden;
      z-index: 1;
    }
    #sbsr-1363 .cs-container {
      width: 100%;
      /* changes to 1280px at desktop */
      max-width: 36.5rem;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100%;
      /* 48px - 64px */
      gap: clamp(3rem, 6vw, 4rem);
    }
    #sbsr-1363 .cs-content {
      /* set text align to left if content needs to be left aligned */
      text-align: left;
      width: 100%;
      max-width: 47rem;
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: flex-start;
    }

    #sbsr-1363 .cs-topper {
      color: #767676;
    }
    #sbsr-1363 .cs-title {
      /* 23 characters wide including spaces */
      max-width: 26ch;
    }
    #sbsr-1363 .cs-text {
      margin-bottom: 1rem;
    }
    #sbsr-1363 .cs-text:last-of-type {
      margin-bottom: 1.5rem;
    }
    #sbsr-1363 .cs-card-group {
      width: 100%;
      max-width: 39.375rem;
      margin: -1rem 0 0.5rem 0;
      padding: 0;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(15.625rem, 1fr));
      align-items: center;
      gap: clamp(1rem, 2vw, 1.25rem);
    }
    #sbsr-1363 .cs-item {
      list-style: none;
      /* 16px - 24px */
      padding: clamp(1rem, 3vw, 1.5rem);
      /* prevents padding from affecting height and width */
      box-sizing: border-box;
      background-color: #f7f7f7;
      border-radius: 1rem;
      border: 1px solid #e8e8e8;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.75rem;
    }
    #sbsr-1363 .cs-h3 {
      font-size: 1.75rem;
      line-height: 1.2em;
      font-weight: 200;
      margin: 0;
      margin-top: -10px;
      color: #4a4a43;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 0.5rem;
    }
    #sbsr-1363 .cs-h3-icon {
      width: 2rem;
      height: auto;
      display: block;
    }
    #sbsr-1363 .cs-item-text {
      font-size: 0.875rem;
      line-height: 1.5em;
      margin: 0;
      color: var(--bodyTextColor);
    }
    #sbsr-1363 .cs-ul {
      width: 100%;
      margin: 0 0 -1.5rem 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 0.75rem;
    }
    #sbsr-1363 .cs-li {
      font-size: var(--bodyFontSize);
      list-style: none;
      line-height: 1.5em;
      width: 100%;
      color: var(--bodyTextColor);
      display: flex;
      justify-content: flex-start;
      /* push icon top the top so if the list item goes to two lines the icon stays at the top */
      align-items: flex-start;
      gap: 0.5rem;
    }
    #sbsr-1363 .cs-icon {
      width: 1.5rem;
      height: auto;
      /* adds extra space between the icon and top of parent so it's more centered */
      margin-top: 1px;
      display: block;
    }
    #sbsr-1363 .cs-button-solid {
      font-size: 1rem;
      line-height: 3.5rem;
      text-decoration: none;
      font-weight: 700;
      overflow: hidden;
      margin: 0;
      color: #fff;
      padding: 0 3rem;
      border-radius: 1.875rem;
      background-color: var(--primary);
      display: inline-block;
      position: relative;
      z-index: 1;
      transition: color 0.3s;
    }
    #sbsr-1363 .cs-button-solid:before {
      content: "";
      position: absolute;
      display: block;
      height: 100%;
      width: 0%;
      background: #1a1a1a;
      opacity: 1;
      top: 0;
      left: 0;
      z-index: -1;
      transition: width 0.3s;
    }
    #sbsr-1363 .cs-button-solid:hover {
      color: var(--primary);
    }
    #sbsr-1363 .cs-button-solid:hover:before {
      width: 100%;
    }
    #sbsr-1363 .cs-image-group {
      width: 100%;
      max-width: 36.625rem;
      /* Changes to auto at desktop */
      height: auto;
      /* 32px - 48px */
      border-radius: clamp(2rem, 4vw, 3rem);
      /* clips the corners of the children around the border radius */
      overflow: hidden;
      position: relative;
    }
    #sbsr-1363 .cs-background {
      width: 100%;
      height: 100%;
      /* makes it cover the parent dimensions */
      object-fit: cover;
      display: block;
    }
    #sbsr-1363 .cs-background img {
      width: 70%;
      height: 100%;
      /* makes it cover the parent like a backgorund image */
      object-fit: cover;
      display: block;
      border-radius: 60px;
    }
    #sbsr-1363 .cs-box {
      text-align: left;
      width: 100%;
      max-width: 19rem;
      padding: 2rem;
      /* prevents padding from affecting height and width */
      box-sizing: border-box;
      background-color: var(--primary);
      /* 48px - 80px */
      border-radius: 2rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 1.5rem;
      position: absolute;
      /* 12px - 20px */
      right: clamp(5.75rem, 1.9vw, 1.5rem);
      /* 12px - 20px */
      bottom: clamp(0.75rem, 1.9vw, 1.5rem);
    }
    #sbsr-1363 .cs-box-icon {
      width: 3.75rem;
      height: auto;
      display: block;
    }
    #sbsr-1363 .cs-desc {
      font-family: Nunito;
      line-height: 1.2em;
      text-align: center;
      font-weight: 500;
      width: 100%;
      margin: 0;
      color: var(--bodyTextColorWhite);
    }
    #sbsr-1363 .cs-bubbles {
      font-size: min(2.5vw, 0.7em);
      width: 26em;
      height: 26em;
      position: absolute;
      /* reset at larger desktop */
      right: 16.25em;
      /* changes to 30px at desktop */
      bottom: -3.125em;
      z-index: -1;
    }
    #sbsr-1363 .cs-bubbles:before {
      /* white border bubble */
      content: "";
      width: 20.625em;
      height: 20.625em;
      background: transparent;
      border: 1px solid #1a1a1a;
      border-radius: 50%;
      opacity: 1;
      position: absolute;
      display: block;
      top: 0;
      right: 0;
      animation-name: floatAnimation;
      animation-duration: 5s;
      animation-timing-function: ease-in-out;
      animation-fill-mode: forwards;
      animation-iteration-count: infinite;
    }
    #sbsr-1363 .cs-bubbles:after {
      /* orange bubble */
      content: "";
      width: 16.25em;
      height: 16.25em;
      background: var(--primary);
      opacity: 0.15;
      border-radius: 50%;
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: -1;
      animation-name: floatAnimation2;
      animation-duration: 14s;
      animation-timing-function: ease-in-out;
      animation-fill-mode: forwards;
      animation-iteration-count: infinite;
    }
  }

  @media only screen and (max-width: 40rem) {
    #about {
      height: auto;
    }

    #sbsr-1363 {
      height: auto;
    }
  }

  @media only screen and (min-width: 64rem) {
    #sbsr-1363 .cs-container {
      min-width: 85rem;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      margin-top: -30px;
    }

    #sbsr-1363 .cs-content {
      /* set text align to left if content needs to be left aligned */
      margin-left: -180px;
      text-align: left;
      width: 100%;
      max-width: 47rem;
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: flex-start;
    }

    #sbsr-1363 .cs-image-group {
      height: auto;
      /* sends it to the right in the 2nd position */
      order: 0;
    }
    #sbsr-1363 .cs-bubbles {
      margin-right: 0;
      top: 60%;
      left: 70%;
      right: 50%;
    }
  }

  @media (max-width: 600px) {
    #sbsr-1363 .cs-box {
      display: none;
    }

    #sbsr-1363 .cs-box img {
      display: none;
    }

    .cs-background img {
      justify-self: center;
    }

    #sbsr-1363 .cs-bubbles {
      font-size: min(2.5vw, 0.7em);
      width: 26em;
      height: 26em;
      justify-self: center;
      /* reset at larger desktop */
      right: 16.25em;
      /* changes to 30px at desktop */
      bottom: -3.125em;
      z-index: -1;
    }
  }

  @media only screen and (min-width: 100rem) {
    #sbsr-1363 .cs-bubbles {
      margin-right: 46.875rem;
      left: 70%;
      right: 50%;
    }
  }
</style>
