---
const quotes = [
  "Te acompaño en el infinito camino del autoconocimiento, hacia la tranaformación y realización personal",
];
---

<div
  class="flex justify-center max-w-96 flex-wrap [font-family:_Nunito] text-base text-center max-md:text-sm max-md:px-9"
>
  <p id="quote">{quotes[0]}</p>
</div>

<script>
  const quotes = JSON.parse(
    '["Te acompaño en el infinito camino del autoconocimiento, hacia la tranaformación y realización personal", "Encontrar la llave maestra de la autoconciencia, cuestionarte y observarte, serán las herramientas para el poder de elegir y diseñar tu vida", "Encontraremos nuevas formas de vivir tu vida y transitar el camino que te conduce a encontrar una mejor versión de ti"]'
  );
  let currentQuoteIndex = 0;

  setInterval(() => {
    currentQuoteIndex = (currentQuoteIndex + 1) % quotes.length;
    let elem = document.getElementById("quote");
    if (elem) {
      elem.textContent = quotes[currentQuoteIndex];
    }
  }, 5000);
</script>
