<nav>
  <div class="nav-container">
    <a href="/" class="logo">
      <span>C</span>ECILIA <span>U</span>RRA
    </a>
    <div class="nav-links">
      <a href="#about">Sobre Mí</a>
      <a href="#services">Servicios</a>
      <a href="#testimonials">Testimonios</a>
      <a href="#contact">Contacto</a>
    </div>
  </div>
</nav>;