---
import Button from "./Button.astro";
import ServicesCard from "./ServicesCard.astro";
---

<section id="services" class="services">
  <div class="container">
    <h2>Puedo ayudarte con...</h2>
    <div class="services-grid">
      <ServicesCard
        title="Acompañamiento Individual"
        text="Sesiones personalizadas para abordar situaciones específicas, procesar emociones y desarrollar herramientas para tu bienestar."
        href=""
        img="/images/cecilia.jpg"
        />
      <ServicesCard
        title="Talleres grupales"
        text="Trabajo enfocado en el autoconocimiento, la autoestima y el desarrollo del potencial de cada individuo."
        href=""
        img="/images/conferencia.jpg"
      />
      <ServicesCard
        title="Gestión de stress y ansiedad"
        text="Aprende técnicas efectivas para manejar el estrés y la ansiedad en tu vida cotidiana."
        href=""
        img="/images/cecilia.jpg"
      />
      <ServicesCard
        title="Autoconocimiento"
        text="Aprende a estar presente y desarrolla una mayor consciencia emocional a través de prácticas guiadas."
        href=""
        img="/images/SFCU-13.jpg"
      />
    </div>
    <Button href={"#contact"} caption={"AGENDA TU CITA"} />
  </div>
</section>

<style>
  .services {
    padding: 5rem 2rem;
    background-color: #c5ccd2;
    height: 100vh;
  }

  .container {
    max-width: 1350px;
    margin-left: 5%;
    margin-right: 5%;
    align-items: center;
    align-content: center;
  }

  h2 {
    text-align: center;
    font-size: 2.5rem;
    color: #2d3748;
    margin-bottom: 3rem;
  }

  .services-grid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
  }
</style>
